        /* Common Shared Styles */
body{
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
    
}

        /* Banner Related Styles */
.banner{
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),
    url(../Images/Banner\ Image.png);
    background-repeat: no-repeat;
    margin: 50px 140px 120px 140px;
    width: 1320px;
    height: 600px;
    border-radius: 16px;
   

    
}       

.new-year{
    font-size: 32px;
    font-weight: 400;
    padding: 175px 530px 15px 530px ;
    color: #FFF;
    text-align: center;
}

.new-year-party{
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    padding: 0px 344px 175px 344px;
}

        /* 65% OFF */
.offer{
    color: #F00;
    text-align: center; 
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;
}
.deals{
    color: #F00;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    margin-top: 0px;
}
.categories{
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px;
    margin-top: 18px;

}
.new-year-img{
    margin: 0px 399px 120px 399px;
}

        /* WELCOME STYLES */
.welcome-section{
    display: flex;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),
    url(../Images/Vectorrr.png);
    width: 1320px;
    height: 600px;
    margin: 0px 140px 120px 140px;
}

.welcome-h{
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
    padding-top: 100px;
    padding-left: 126px;
}
.welcome-p{
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 20px; 
    padding-left: 126px;
    
}
.welcome-img{
    padding: 68px 138px 67px 40px;
}
.welcome-b{
    margin-left: 158px;
    margin-bottom: 142px;
    display: inline-flex;
    padding: 10px 26px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: none;
    background: #F00;
    font-size: 16px;
    color: #FFF;
}

        /* EVENT PLACE TIME */

.event-n{
    width: 1320px;
    height: 482px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    margin: 0px 140px 120px 140px;
    
        }
.event{
   
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    padding-top: 100px;
    padding-bottom: 42px;
    
}
.event-btn{
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #F00;
    color: #FFF;
    margin-left: 575px;
    border: none;
    
}
.place{
    color: #F00;
}

        /* BEST OFFER STYLES */
.best-offer{
    display: flex;
    margin-bottom: 120px;
   
    
}

.new-offer{
    margin-left: 140px;
    margin-top: 104px;
   
}

.best-h4{
    color: #F00;
    font-size: 24px;
    font-weight: 500;
}
.best-h3{
    color: #070211;
    font-size: 48px;
    font-weight: 900;
  
    
    
}

.best-p{
    width: 390px;
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    margin-right: 50px;
    
}

        /* BEST OFFER IMG */
.best-offer-img{
   border-radius: 50%;
    border: 15px solid #F00;
    padding: 20px;
    margin-top: 28px;

}
        /* Div New 2024 */
    
.new-2024{
    color: #F00;
    font-size: 48px;
    font-weight: 700;
    margin-top: 112px;
    margin-left: 118px;
    

}
.new-p{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    margin-left: 118px;
    margin-right: 140px;
}
.new-img{
   
    margin-left: 118px;
}

        /* HOLIDAY STYLES */

.holiday{
    text-align: center;
  
}
.holiday-h4{
    color: #070211;
    font-size: 24px;
    font-weight: 500;
}
.holiday-h2{
    font-size: 72px;
    font-weight: 900;
}
.span-h{
    color: #F00;
}
.holiday-p{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    margin: 0px 266px;
    
}



        /* GIFT STYLES */
.box-all{
    margin: 65px 140px 120px 140px;
}
.container {
    background-image: url('../Images/Rectangle\ 1.png');
    background-size: cover;
    width: 429px;
    height: 433px;
    position: relative;
    margin-left: 891px;     
            
}
          
.gift-b1 {
     position: absolute;
    top: 253px;
    left: 6px;
    transform: translate(-50%, -50%);
    width: 220px;
    height: 220px;
          }
        
.container1 {
    background-image: url('../Images/Rectangle\ 2.png');
    background-size: cover;
    width: 1320px;
     height: 229px;
    position: relative;
            
          }
          
          .gift-b {
    position: absolute;
    top: -100px;
    left: 350px;
    transform: translate(-50%, -50%);     
    width: 760px;
    height: 650px;
    position: relative;
    
 }
/* .gift-b img{
    mix-blend-mode: screen; 
    fill: linear-gradient(233deg, #000 24.9%, #050505 27.35%, #121212 30.02%, #292929 32.92%, #484848 36.03%, #717171 39.15%, #A3A3A3 42.26%, #DDD 45.38%, #FFF 47.16%);
    opacity: .5;
} */
      

/* PORTFOLIO STYLES */
.portfolio{
    margin: 120px 140px 0px 140px;
}
.gifts-h3{
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 10px;
}
.gifts-h2{
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    padding-bottom: 10px;
}
.gifts-p{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 48px;
}


.gifts-img{
    display: flex;
    gap: 24px;
    padding-bottom: 24px;
    border-radius: 16px;
    img:hover{
        transform: scale(1.1);
    }
 }

.gifts-img1{
    display: flex;
    gap: 24px;
    border-radius: 16px;
    img:hover{
        transform: scale(1.1);
    }
}

       /* SUBSCRIBE */
.subscribe{
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    text-align: center;
    margin-top: 120px;
    margin-left: 140px;
    margin-right: 140px;
    margin-bottom: 120px;
    
    
}
.sub-img{
    padding-top: 80px;
   
}
.sub-h3{
    color: #070211;
    font-size: 48px;
    font-weight: 900;
}
.sub-p{
    padding: 5px 212px 14px 212px;
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}
.susc{
    display: flex;
    justify-content: center;
    padding-bottom: 80px;
    
    
}
.inp{
    border:none;
    width: 350px;
    height: 70px;
    border-radius: 50px 0px  0px 50px;
    color: rgba(7, 2, 17, 0.30);
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    
    
}
.bt{
    background: #F00;
    border-radius:  0px 50px 50px 0px;
    border: none;
    width: 160px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
}

/* FOOTER STYLES */
.footer-all{
    background: #070211;
    
}

.foot{
    display: flex;
    text-align: center;
    


}
.foot-p{
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    margin-top: 120px;
    margin-left: 140px;

}

.web{
    text-decoration: none;
    color: #FFF;
    font-size: 24px;
}
.web-icon{
    display: flex;
    text-align: center;
    gap: 8px;
}
.number{
    color: #FFF;
    font-size: 24px;
}
.web-icon1{
    display: flex;
    gap: 8px;
    font-size: 24px;

}
.web-icon-img{
    width: 24px;
    height: 24px;
    padding-top: 24px;
}

.num-img{
    margin-left: 400px;
    margin-top: 120px;
}

.fb-ins{
    justify-content: center;
    display: flex;
    gap: 20px;
}
.hr-1{
    width: 1320px;
    margin-top: 48px;
    margin-bottom: 48px;
}
.hr-2{
    width: 1320px;
    margin-top: 48px;
    margin-bottom: 90px;
}

.uns{
    display: flex;
    justify-content: space-between;
    color: #FFF;
    font-size: 24px;
    margin-left: 110px;
    margin-right: 110px;
    padding-bottom: 120px;
}
